.port-type {
    font-size: .8em;
    text-align: center;
    color: #46857c;
    background: #eaeaea;
    padding: 1em;
    padding-bottom: 0;
}

.port-type h1 {
    margin: 0;
}

.portfolio-wrapper {
    background: url(../images/paint-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40em;
    position: relative;
    top: 0; right: 0; left: 0; bottom: 0;
}

.port-intro {
    background: #eaeaea;
    padding: 1em 0;
}

.cat-info {
    display: none;
}

.portfolio-cat {
    padding: 0 2em;
}

.category {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    filter: grayscale(100%);
}

.wide-h1 {
    display: none;
}

.cat-h1 {
    padding: 2em 1em;
    color: white;
}

.heading-h1 {
    font-size: 2em;
}

.modal {
    max-width: 800px;
}

/*Media Queries*/


@media screen and (min-width: 700px) {
    .port-type {
        font-size: 1em;
        position: relative;
        bottom: 2em;
    }


    .portfolio-wrapper {
        height: 18em;
    }

    .port-intro {
        padding: 0;
    }

    .cat-info {
        display: block;
        margin-left: 3em;
        color: #6d6d6d;
    }

    .cat-info-p {
        margin: 0;
        height: 7em;
        max-width: 27em;
    }

    .project-title {
        margin: 0 0 .5em 0;
    }

    .portfolio-cat {
        padding: 0;
        margin: 0 3em;
        display: flex;
        justify-content: space-between;
    }

    .category {
        width: 13em;
        height: 10em;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .4s ease-in-out;
    }

    .wide-h1 {
        display: block;
        position: absolute;
        color: white;
        margin: 0;
        width: 208px;
        padding: 46px 0 0 0;
        height: 114px;
        text-align: center;
        z-index: 1;
        opacity: 0;
        transition: all .4s ease-in-out;
    }

    .cat-h1 {
        display: none;
        opacity: 0;
        transition: all .3s linear;
        cursor: pointer;
        width: 100%;
    }

    .cat-h1:hover {
        opacity: 1;
        filter: none;
        filter: grayscale(100%) brightness(2);

    }

    .heading-h1 {
        font-size: 3em;
    }
}

@media screen and (min-width: 900px) {
    .cat-info {
        margin-left: 5em;
    }

    .portfolio-cat {
        margin: 0 5em 2em 5em;
    }

    .category {
        width: 15em;
        height: 11em;
    }

    .wide-h1 {
        width: 240px;
        height: 130px;
    }
}

@media screen and (min-width: 1200px) {
    .portfolio-wrapper {
        height: 20em;
    }

    #logo {
        margin-left: 8em;
    }

    .category {
        width: 22em;
        height: 14em;
    }

    .wide-h1 {
        width: 352px;
        height: 144px;
        padding-top: 2.5em;
    }

    .cat-info {
        margin-left: 8em;
    }

    .portfolio-cat {
        margin: 0px 8em 2em 8em;
    }

    .modal {
        max-width: 1090px;
    }
}

@media screen and (min-width: 2000px) {
    .portfolio-wrapper {
        height: 30em;
    }

    #logo {
        width: 220px;
        top: 60px;
        margin-left: 8em;
    }

    .heading-wrapper {
        margin-left: 5em;
    }

    .cat-info {
        margin-left: 9em;
    }

    .project-title {
        padding-top: 2em;
        font-size: 2em;
    }

    .cat-info-p {
        font-size: 2em;
    }

    .portfolio-cat {
        margin: 0 9em 2em;
    }

    .category {
        width: 30em;
        height: 22em;
    }

    .wide-h1 {
        width: 480px;
        padding-top: 4.5em;
    }
    
    .port-type {
        padding: 1em;
        font-size: 1.5em;
        margin-top: 2em;
    }

    .port-projects {
        margin-top: 3em;
    }

    .project-wrapper {
        width: 30em;
        height: 18em;
        margin: 1.5em;
    }

    .project-background {
        height: 18em;
    }

    .wide-heading {
        bottom: 12em;
    }

    .modal {
        max-width: none;
        width: 1280px;
    }

    .heading-h1 {
        font-size: 4em; 
        margin: 0 0 3px 0.2em;
        top: 71px;
        border-bottom: 3px solid white;
        border-left: 3px solid white;
        padding-left: 7px;
    }

    svg {
        display: none;
    }
}
