.port-projects {
    background: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    margin-top: 0;
}

.project-wrapper {
    text-align: center;
    width: 80%;
    max-width: 25em;
    margin: 1em 0;
}

.mobile-heading {
    margin: .5em 0 .5em 0;
}

.mobile-heading h2 {
    margin: 0;
    color: #6d6d6d;
}

.mobile-heading p {
    margin: 0;
    color: #6d6d6d;
}

.project-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 11em;
    width: 100%;
    filter: grayscale(100%);
}

.wide-heading {
    display: none;
}



@media screen and (min-width: 700px) {
    
    .port-projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        position: relative;
        bottom: 1em;
    }
    
    .mobile-heading {
        display: none;
    }

    .wide-heading {
        display: block;
        position: relative;
        bottom: 9em;
        color: white;
        z-index: 1;
        text-align: center;
        opacity: 0;
        transition: all .4s linear;
    }

    .wide-heading h2 {
        margin: 0 0 .3em 0;
        font-size: 2em;
    }

    .wide-heading p {
        margin: 0;
        font-size: 1.5em;
    }

    .project-wrapper {
        text-align: left;
        width: 20em;
        height: 12em;
        margin: .5em;
        max-width: none;
        cursor: pointer;
    }

    .project-background {
        height: 12em;
        transition: filter .3s;
    }
}