.project-wrapper {
    cursor: pointer;
}

.project-background {
    height: 12em;
}





@media screen and (min-width: 700px) {
    
    #titan {
        width: 400px;
        margin-top: 5em;
    }
    #article {
        width: 53%;
    }
    #comic {
        width: 50%;
    }

}